
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<link href="~/Content/Site.css" rel="stylesheet" />

<div id="container">
    <p>Please enter bitmap size:</p>
    <input id="bitmap" type="text" placeholder="Bitmap size: n,m" />
    <input id="randomize" type="button" value="Randomize" />
    <input id="bonus" type="button" value="Bonus: Draw" />
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/app.js"></script>


